{% extends 'base.html.twig' %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1> {{ program.title }} : Saison {{ season.number }}</h1>
            <p>({{ season.year }})</p><br>

            <h2> Episode {{ episode.number }} : {{ episode.title }}</h2>
            <h3> Synopsis </h3>
            <p>{{ episode.synopsis }}</p><br>

            <br>
            <div>
                <a href={{ path('program_season_show', { programId: program.slug, seasonId: season.id }) }}>Retour à la page saisons</a>
            </div>
        </div>
    </div>
    {% if app.user %}
        <div class="media-body">
            <h3>Ajouter un commentaire</h3>
            {% include 'comment/_form.html.twig'%}
        </div>
    {% endif %}
    <div>
    <h3>Commentaires</h3>
    {% for comment in episode.comments %}
        <ul>
            <li>{{ comment.author.email }} - {{ comment.rate }}/ 5 <br>
                <i>{{ comment.comment }}</i>
                <br>
                {% if app.user == comment.author or is_granted("ROLE_ADMIN") %}
                    {% include 'comment/_delete_form.html.twig' %}
                {% endif %}
            </li>
        </ul>
        <br>
    {% else %}
        Pas de commentaire pour le moment
    {% endfor %}




{% endblock %}
