{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h2>{{ actor.name }} </h2>
    <div> {{ actor.name }} a joué dans les séries suivantes :</div>

    {% for program in actor.programs %}
        <div>
            <a href="{{ path('program_show', { id: program.id }) }}">
                {{ program.title }}
            </a>
        </div>
    {% else %}
        Aucun acteur trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}